<!DOCUTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<title>たいとる<title>
</*画像の場所は　sawsee/public/image_files*/>
<link rel=“stylesheet” href=“/css/style.css”>
</head>
<body>

    <form action=“URL” method=“post">
      <button >
    <form action=“URL” method=“post">




</body>
</html>